@charset "utf-8";
/* CSS Document */

/*  attendechatmainbox   */

.attendechatmainbox {
	width:100%;
	display:table;
	clear:both;
	content:"";
	font-size:14px;
	line-height:normal;
	letter-spacing:0;
	padding:0 0 60px 0;
}
.attendechatmainbox hr {
	height:2px;
	width:100%;
	display:table;
	clear:both;
	border:0;
	box-shadow:none;
	background:#dedede;
}
.attendechatmainbox h6 {
	line-height:normal;
	margin:0;
	padding:0;
	font-family: "AvenirLTStd-Black";
	margin:0 0 5px 0;
	display:table;
	clear:both;
	content:"";
	width:100%;
}
.attendechatmainbox h6 span {
	font-size:10px;
	color:#0d8bd7;
	font-family: "AvenirLTStd-Black";
}
.attendechatmainbox p {
	line-height:normal;
	margin:0;
	padding:0;
}
.attendechatbox1 {
	background:#f1f0f0;
	padding:10px 4%;
	margin:2%;
	width:70%;
	border-radius:7px;
	clear:both;
	display:table;
	content:"";
}
.attendechatbox2 {
	background:#0d8bd7;
	padding:10px 4%;
	margin:0 8% 2% 2%;
	width:70%;
	border-radius:7px;
	color:#fff;
	float:right;
	position:relative;
}
.attendechatbox2:after {
	clear:both;
	display:table;
	content:"";
	width:100%;
}
.attendechatbox2:before {
	content: '';
	width: 0px;
	height: 0px;
	border-style: solid;
	border-top: 0px solid transparent;
	border-left: 30px solid #0d8bd7;
	border-bottom: 30px solid transparent;
	display: inline-block;
	vertical-align: middle;
	position:absolute;
	top:0;
	right:-6%;
}
.attendechatbox2 h6 span {
	color:#fff;
}
.attendechattextsend {
	width:96%;
	padding:5px 2%;
	background:#fff !important;
	position:absolute;
	bottom:0;
	left:0;
	content:"";
	display:table;
	clear:both;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
	border-top:2px solid #dedede;
	z-index: 999;
}
.popmain1con1 .attendechattextsend {
	width:100%;
}
.attendechattextsend textarea {
	width:80%;
	padding:5px 2%;
	border:0;
	box-shadow:none;
	letter-spacing:0;
	font-size:14px;
	font-family: "AvenirLTStd-Book";
	border-radius:5px;
	display:inline-block;
	vertical-align:middle;
	margin:0 4% 0 0;
}
.attendechattextsend button {
	width:auto;
	border:0;
	box-shadow:none;
	background:none;
	letter-spacing:0;
	font-size:24px;
	font-family: "AvenirLTStd-Book";
	display:inline-block;
	vertical-align:middle;
	color:#0d8bd7;
	cursor:pointer;
}

/*  End  */

