@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: "AvenirLTStd-Black";
  src: url("../fonts/AvenirLTStd-Black.eot"); /* IE9 Compat Modes */
  src: url("../fonts/AvenirLTStd-Black.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/AvenirLTStd-Black.otf") format("opentype"), /* Open Type Font */
    url("../fonts/AvenirLTStd-Black.svg") format("svg"), /* Legacy iOS */
    url("../fonts/AvenirLTStd-Black.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/AvenirLTStd-Black.woff") format("woff"), /* Modern Browsers */
    url("../fonts/AvenirLTStd-Black.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AvenirLTStd-Book";
  src: url("../fonts/AvenirLTStd-Book.eot"); /* IE9 Compat Modes */
  src: url("../fonts/AvenirLTStd-Book.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/AvenirLTStd-Book.otf") format("opentype"), /* Open Type Font */
    url("../fonts/AvenirLTStd-Book.svg") format("svg"), /* Legacy iOS */
    url("../fonts/AvenirLTStd-Book.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/AvenirLTStd-Book.woff") format("woff"), /* Modern Browsers */
    url("../fonts/AvenirLTStd-Book.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'Conv_BentonSans-Black';
	src: url('../fonts/BentonSans-Black.eot');
	src: local('☺'), url('../fonts/BentonSans-Black.woff') format('woff'), 
		url('../fonts/BentonSans-Black.ttf') format('truetype'), 
		url('../fonts/BentonSans-Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


/*----*/
img {
	border:0px;
	margin-bottom: -7px;
}
a {
	color:#000;
	text-decoration:none;
	cursor:pointer !important;
	scroll-behavior: smooth;
}
a:hover {
	text-decoration:none;
	color:#ea0008;
}

* :focus {
  outline: none;
}
.imgper img {
	width:100% !important;
	margin-bottom:-7px;
}
.imgper1 {
	width:100% !important;
	margin-bottom:-7px;
}

/*-----*/

/*-----------------For All Default Bullets--------------------*/

ul {
	list-style-type:none;
	margin:0px;
	padding:0px;
}	
ul li	{
	background-position: 5px 12px;
	background-repeat: no-repeat;
	margin:5px 0px 0px 0px;
	padding:0px 0px 5px 25px;
}
.nobullet li {
	background-image:none !important;
	background-position:0px !important;
	background-repeat: no-repeat !important;
	margin:0px !important;
	padding:0px !important;
}
.bullet1 li	{
	background: url(../images/bullet1.png);
	background-position: 5px 5px;
	background-repeat: no-repeat;
	margin:5px 0px 0px 0px;
	padding:0px 0px 5px 22px;
}

/*---------*/
::selection {
	color:#fff;
	background-color:#f0b10d;
}
::-moz-selection {
	color:#fff;
	background-color:#f0b10d;
}
::-webkit-selection {
	color:#fff;
	background-color:#f0b10d;
}

/*-------For Font Size Custmize----------*/
.tac {
	text-align:center;
}
.tal {
	text-align:left;
}
.tar {
	text-align:right;
}
.bgcolor1 {
	background:#f1f1f1;
}
.bgcolor2 {
	background:#0095da;
}

/*---*/

.btn1 {
	font-size:16px;
	line-height:24px;
	font-family: "AvenirLTStd-Black";
	letter-spacing: 0;
}
.btn1 a {
	display: inline-block;
	vertical-align:middle;
	color:#000;
	background:#fff;
	padding: 8px 24px;
	border-radius: 35px;
}
.btn1 a:hover {
	color: #fff;
	background: #000;
}


.btn2 {
	font-size:14px;
	line-height:20px;
	font-family: "AvenirLTStd-Black";
	letter-spacing: 0;
}
.btn2 a {
	display: inline-block;
	vertical-align:middle;
	color:#fff;
	background:#ed1c24;
	padding: 7px 20px;
	border-radius: 35px;
}
.btn2 a:hover {
	color: #fff;
	background: #000;
}


.btn3 {
	font-family: "AvenirLTStd-Black";
	letter-spacing: 0;
	font-size:12px;
}
.btn3 a {
	display: inline-block;
	vertical-align:middle;
	color:#fff;
	background:#0d8bd7;
	padding: 5px 15px;
	margin:5px;
	border-radius: 35px;
}
.btn3 a:hover {
	color: #fff;
	background: #000;
}

/*  Scrool  CSss */

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: #0d8bd7; 
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #000; 
}

/*  End  */


/* Style the tab */

.tabcontent {
	position:relative;
	overflow:auto;
}
.tablemain .tabcontent, .tabcontent1 {
	display:none;
}


#chat-window::-webkit-scrollbar {
  width: 3px;
}
#chat-window::-webkit-scrollbar-track {
  border-radius: 3px;
}
#chat-window::-webkit-scrollbar-thumb {
  background: #212478; 
  border-radius: 3px;
}
#chat-window::-webkit-scrollbar-thumb:hover {
  background: #000; 
}


.tab {
  overflow: hidden;
  margin:0 0 10px 0;
}
.tab button {
	background-color: #ed1c24;
	border:0;
	float: left;
	outline: none;
	cursor: pointer;
	padding: 10px 20px;
	transition: 0.3s;
	font-size: 16px;
	line-height:20px;
	color:#fff;
	font-family: "AvenirLTStd-Black";
	letter-spacing:0;
}
.tab button:hover {
	background-color: #000;
	color:#FFF;
}
.tab button.active {
	background-color: #000;
	color:#FFF;
}

.tab button:first-child {
	border-bottom-left-radius:5px;
	border-top-left-radius:5px;
}
.tab button:last-child {
	border-bottom-right-radius:5px;
	border-top-right-radius:5px;
}
.tab button:first-child i {
	background:url(../images/tab-icon1-2.png) no-repeat left top;
	width:20px;
	height:18px;
	line-height:18px;
	display:inline-block;
	background-size:100% !important;
	margin:0 0 -4px 0;
}


.tab1 {
  overflow: hidden;
  margin:0 35px 0 0;
  float:right;
  display:block;
}
.tab1 button {
	background-color: #fff;
	border:0;
	float: left;
	outline: none;
	cursor: pointer;
	padding: 5px 10px;
	transition: 0.3s;
	font-size: 12px;
	line-height:normal;
	color:#333;
	font-family: "AvenirLTStd-Black";
	letter-spacing:0;
	border-right:1px solid #891fbb;
}
.tab1 button:hover {
	background-color: #000;
	color:#FFF;
}
.tab1 button.active {
	background-color: #000;
	color:#FFF;
}

.tab1 button:first-child {
	border-bottom-left-radius:5px;
	border-top-left-radius:5px;
}
.tab1 button:last-child {
	border-bottom-right-radius:5px;
	border-top-right-radius:5px;
}



/* Style the tab content */


/*  popup  */

.popmain1 {
    display: none;
    overflow-x: hidden;
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 24px;
	letter-spacing:0px;
	border-radius: 10px;
	padding: 0 !important;
}
.popmain2 {
    display: none;
    overflow-x: hidden;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 24px;
	letter-spacing:0px;
	border-radius: 10px;
	padding: 0 !important;
}
.popmain3 {
    display: none;
    overflow-x: hidden;
    width: 90%;
    max-width: 450px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 24px;
	letter-spacing:0px;
	border-radius: 10px;
	padding: 0 !important;
}

.popmainheading {
	font-family: "AvenirLTStd-Black";
	font-size: 18px;
	line-height:20px;
	color: #fff;
	padding:12px;
	text-transform:uppercase;
	background:#0d8bd7;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	text-align:center;
}

.popmainheading1 {
	color: #fff;
	padding:10px 2%;
	background:#0d8bd7;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	clear:both;
	display:table;
	content:"";
	width:100%;
}
.popmainheading1 span {
	display:block;
	float:left;
	font-family: "AvenirLTStd-Black";
	font-size: 18px;
	line-height:20px;
	text-transform:uppercase;
}

.popmain1con {
	width:100%;
	padding:0px 0;
	margin:0 auto;
	display:block;
	overflow-x:hidden;
}
.popmain1con1 {
	width:100%;
	padding:0px 0;
	margin:0 auto;
	max-height:400px;
	display:block;
	overflow-x:hidden;
}
.fancybox-close-small {
	color:#fff !important;
}


/*  End  */

/*--------------*/

#Arrowfix {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
	z-index:99999999 !important;
    background-color:#ed1c24;
    text-indent:-9999px;
    /*display:none;*/
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#Arrowfix span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff
}
#Arrowfix:hover {
   background-color:#000;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}



.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../images/loader.gif') 50% 50% no-repeat rgb(255,255,255);
}