@charset "utf-8";
/* CSS Document */


@media only screen and (min-device-width: 1400px) and (max-device-width: 5500px) {
	
	.mainscreenvideo {
		height: 55vh;
	}
	.screenright, .screenright1 {
		max-height:62.7vh;
	}
	.screenright2 {
		min-height:62.7vh;
	}
	.requestmeetingmainhe {
		min-height: 56vh;
	}
		
	/*.loginbg {
		height:100vh;
	}*/
	.loginbox {
		width:36%;
		padding:10% 0 10% 5%;
	}
	.idxrightcon {
		width:38%;
		right:5%;
		top:15%;
		max-height:700px;
	}	
		
		
		
	
}


@media only screen and (max-width: 1480px){ 
	
	body {
		font-size:14px;
		line-height:22px;
	}
	
	#Arrowfix {
		width:36px;
		height:36px;
	}
	#Arrowfix span {
		margin-left:-6px;
		margin-top:-10px;
		border:6px solid transparent;
		border-bottom-color:#ffffff
	}
	
	
	.innercontainwrapper, .speakerwrapper {
		width:90%;
	}
	.footerwrapper, .innercontainwrapper {
		width: 90%;
		padding: 40px 0;
	}
	
	
}

@media only screen and (max-width: 1320px){ 
	
	.tabmenubottom {
		bottom:30px;
	}
	.tabmenubottom a {
		margin:5px 15px;
		font-size:10px;
	}
	.tabmenubottom img {
		width:30px;
	}
	.zoomnotreglink {
		padding:5px 2%;
		font-size:14px;
	}

	
	
	
	
}

@media only screen and (max-width: 1180px){ 
	
	.loginbg {
		padding:0 0 50px 0;
	}
	.loginbox {
		float:none;
		position:relative;
		width:450px;
		margin:0 auto;
		padding:50px 0;
	}
	.idxrightcon {
		width:90%;
		right:inherit;
		top:inherit;
		position:relative;
		padding:2%;
		max-height:inherit;
		margin:0 auto;
	}
	.datetime {
		position:relative;
		padding:30px 0 0 0;
		left:inherit;
		bottom: inherit;
		width:90%;
		margin:0 auto;
	}
	
	.mainscreen {
		height:inherit !important;
	}
	.maintopbg {
		position:relative;
	}
	
	.tabmenubottom {
		position:relative;
		bottom:inherit;
	}
	.mainscreen .mainfooter {
		position:relative;
		bottom:inherit;
		left:0;
	}
	
	.mainscreenleft {
		position:relative;
		left:inherit;
		top:inherit;
		width:65%;
		display:block;
		float:left;
		clear:none;
		background:#fff;
		border-radius:7px;
		margin:30px 0 30px 2%;
	}
	.mainscreenright {
		position:relative;
		right:inherit;
		top:inherit;
		float:right;
		width:29%;
		/*display:block;*/
		clear:none;
		background:#fff;
		border-radius:7px;
		margin:30px 2% 30px 0;
	}
	
	
	
	
	
	
}

@media only screen and (max-width: 990px){
	
}



@media only screen and (max-width: 800px){
		
	.idxspeakerbox {
		width: 44%;
		padding:2%;
		margin: 1%;
	}
	.idxpartnersbox {
		width: 28%;
		margin: 1%;
		padding: 7px 1%;
		font-size: 10px;
	}
	
	.mainfooterleft {
		float:none;
		display:block;
		font-size:12px;
		padding:0;
		width:90%;
		margin:0 auto;
		text-align:center;
	}
	.mainfooterright {
		float:none;
		display:block;
		width:120px;
		padding:0;
		margin:10px auto 0 auto;
	}
	
	.mainscreenleft {
		position:relative;
		left:inherit;
		top:inherit;
		width:90%;
		display:block;
		float:none;
		clear:both;
		background:#fff;
		border-radius:7px;
		margin:30px auto;
	}
	.mainscreenright {
		position:relative;
		right:inherit;
		top:inherit;
		float:none;
		width:90%;
		/*display:block;*/
		clear:both;
		background:#fff;
		border-radius:7px;
		margin:30px auto;
	}
	
	.screenright a {
		width:92%;
	}
	
	.requestmeetingcol1 {
		float:none;
		display:block;
		width:90%;
		padding:5%;
	}
	.reuestlogo {
		width:200px;
	}
	.requestmeetingmainhe {
		max-height:inherit;
	}
	
	.requestmeetingcol2 {
		float:none;
		display:block;
		width:100%;
		margin:25px 0 0 0;
	}
	
	
	.suravyformbg {
		width:90%;
		margin:0 auto;
		padding: 5%;
		border-radius:10px;
		max-height:inherit;
		margin:0 auto;
		background:#fff;
		overflow-x:inherit;
	}
	.suravyform1col1 {
		float:none;
		width:100%;
	}
	.suravyform1col2 {
		float:none;
		width:100%;
	}
	.suravyform2wrap1box1 {
		float:none;
		display:block;
		width:96%;
		margin:2%;
	}
	
	
	.mainscreensurvay .suravyformbg {
		width:80%;
		padding:5%;
	}
	
}


@media only screen and (max-width: 600px){ 
	.loginbox {
		float:none;
		position:relative;
		width:300px;
		margin:0 auto;
		padding:50px 0;
	}
	.idxpartnersbox {
		width: 43%;
		margin: 1%;
		padding: 7px 2%;
		font-size: 10px;
	}
	
	.maintopcol2 {
		display:block;
		width:90%;
		margin:35px auto 0 auto;
	}
	.attendingbox {
		right:50px;
	}
	
	.toplogocol1 {
		width:100%;
		display:block;
	}
	.toplogocol1 img {
		width:180px;
		margin:0 auto;
		display:block;
	}
	.toplogocol2 {
		display:none;
	}
	.toplogocol3 {
		width:100%;
		display:block;
		margin:20px auto;
	}
	.toplogocol4 {
		width:100%;
		display:block;
		text-align:center;
	}
	.toplogocol4 span {
		display:inherit;
	}
	.zoomnotreglink {
		padding:10px 2%;
		text-align:center;
		font-size:14px;
		line-height:normal;
	}
	
	
	.presentersboxcol1 {
		float:none;
		display:block;
		width:100%;
	}
	.presentersboxcol1 img {
		width:220px;
		display:table;
		padding:3%;
		margin:0 0 15px 0;
	}
	.presentersboxcol2 {
		float:none;
		display:block;
		width:100%;
	}
	
	
	
	.popmainheading1 {
		text-align:center;
	}
	.popmainheading1 span {
		display:block;
		float:none;
		width:100%;
		text-align:center;
		margin:0 0 10px 0;
	}
	.popconfboxcol1 {
		width:100%;
		float:none;
		padding:10px;
		display:block;
	}
	.popconfboxcol2 {
		width:100%;
		display:block;
		float:none;
		padding:10px;
	}
	.popconfboxcol2maincol1 {
		width:100%;
		display:block;
	}
	.popconfboxcol2maincol2 img {
		width:80px;
		margin:5px;
	}
	.popconfboxcol2maincol3 img {
		width:40px;
		margin:5px;
	}
	.popconfboxcol2maincol2 {
		width:39%;
	}
	.popconfboxcol2maincol3 {
		width:60%;
	}
	.tab1 {
		margin: 0;
		float: none;
		text-align:center;
	}
	
	
	
	
}